<app-header></app-header>
<div class="text-center"><h1>Walmart App Developers</h1></div>
<div class="text-center">This application is Designed and develope by - </div>
<div class="container mt-5 col-md-5">
    <div class="card-group">
        <div class="card border-dark mb-3 " style="max-width: 18rem;">
            <div class="card-header">Developer 1</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Charushila Jagdale</h5>
              <p class="card-text">B.Tech Electrical</p>
              <a target="_blank"  href="mailto: jagdalecharushila3@gmail.com" class="fa fa-google"></a>
                <a target="_blank"  href="https://www.linkedin.com/in/charushila-jagdale-22b6a41b3" class="fa fa-linkedin"></a>
                <a target="_blank"  href="https://www.instagram.com/_its_cj_2608/" class="fa fa-instagram"></a>
            </div>
          </div>
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Developer 2</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Pramod Kulkarni</h5>
              <p class="card-text">B.Tech Mechanical</p>
              <a target="_blank"  href="mailto: kulkarnipramod24@gmail.com" class="fa fa-google"></a>
                <a target="_blank"  href="https://www.linkedin.com/in/pramod-kulkarni-b08345220" class="fa fa-linkedin"></a>
                <a target="_blank"  href="https://www.instagram.com/pramxd__/" class="fa fa-instagram"></a>
            </div>
          </div>
    </div>
</div>
<div class="container mt-5 col-md-5">
    <div class="card-group">
        <div class="card border-dark mb-3 " style="max-width: 18rem;">
            <div class="card-header">Developer 3</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Pankaj</h5>
              <p class="card-text">B.Tech Computer Science</p>
              <a target="_blank"  href="mailto: shivaay1436@gmail.com" class="fa fa-google"></a>
                <!-- <a target="_blank"  href="#" class="fa fa-linkedin"></a>
                <a target="_blank"  href="#" class="fa fa-instagram"></a> -->
            </div>
          </div>
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Developer 4</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Utkarsh Pathak</h5>
              <p class="card-text">B.Tech Electronics and Telecommunications</p>
              <a target="_blank" href="mailto: utkarshpathak.2208@gmail.com" class="fa fa-google"></a>
                <a target="_blank"  href="https://www.linkedin.com/in/utkarsh-pathak-00951519b/" class="fa fa-linkedin"></a>
                <a target="_blank"  href="https://www.instagram.com/just_utkarsh_/" class="fa fa-instagram"></a>
            </div>
          </div>
    </div>
</div>